<h1>A(ng)ular Commands</h1>

<ul>
    <li>
        <h3 class="text-danger">(n)ew</h3>
        <h4>- creates a new angular workspace</h4>
        <h4>- takes a while to do it</h4>
    </li>
    <li>
        <a href="https://angular.io/cli/generate"><h3 class="text-danger">(g)enerate</h3></a>
        <h4>- creates/modifies files based on schematic</h4>
        <h4>- Common things to generate...</h4>
        <h5 class="text-primary">    - (c)omponent</h5>
        <h5 class="text-primary">    - (s)ervice</h5>
        <h5 class="text-primary">    - (d)irective</h5>
        <h5 class="text-primary">    - (p)ipe</h5>
    </li>
    <li>
        <h3 class="text-danger">(s)erve</h3>
        <h4>- Runs the angular app</h4>
        <h4>- Reads from app-component.html first</h4>
        <h4>- After you stop the app, run <span class="font-italic">"$ pkill -9 node"</span></h4>
    </li>
</ul>
<h2>More commands can be found by running <span class="font-italic">"$ ng help"</span></h2>
<button class="btn-primary" (click)="goto('root')">Back</button>