<div class="bg-dark text-light">
    <h3>Welcome To Angular Tutorial</h3>
    <button class="btn-primary" (click)="goto('commands')">Commands</button>
    <button class="btn-primary">Directives</button>
    <button class="btn-primary">Pipes</button>
    <button class="btn-primary">Components</button>
    <button class="btn-primary">Component Lifecycles</button>
    <button class="btn-primary" (click)="goto('routing')">Routing</button>
</div>
<br>
<button (click)="goto('todo')">Todo List</button>
<button (click)="goto('login')">Login</button>